@keyframes float{
    0%{
        bottom:0;
    }
    100%{
        bottom:0.8vw;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.02em;
}
*:focus {
    outline: none;
}
html,body{
    overflow-x: hidden;
    width: 100%;
}
nav{
    padding: 1vw 20.5vw;
    overflow: hidden;
    display:grid;
    position: fixed;
    top: 0;
    height: 5vw;
    grid-template-columns: repeat(3,1fr);
    border-bottom: 0.1vw solid grey;
    width: 100%;
    padding-bottom: 0.7vw;
    align-items: center;
    background-image: url(assets/banner-bg.jpg);
    background-size: cover;
    z-index: 10;
}

nav.active-nav{
    transition: all 800ms ease;
    background-color:#fff;
    background-image: none;
    border: none;
}
.active-nav .logo .logo-zenit{
    color: black !important; 
}
.active-nav .nav_items .nav-link{
    transition: all 0.3s ease 0s;
    color: black !important; 
}
.active-nav .nav_items .nav-link:hover{
    color: #00A4B9 !important; 
}
.active-nav .nav-buttons .login{
    border: 0.1vw solid #00BCD4;
    color: #00BCD4;
}
.active-nav .nav-buttons .login:hover{
background-color: #00BCD4;    color: white;
}
button{
    transition: all 400ms ease;
    margin: 0 1%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    border:0.1vw solid white;
    color: white;
    background-color: transparent;
    padding: 2% 5%;
    font-size: 0.7vw;
    
}
button:hover{
    background-color:#00A4B9 ;
    border: 0.1vw solid #00A4B9;
    color: white;
    cursor: pointer;
}

.login{
    margin-right: 1vw;
    width: 4.9vw;
    height: 1.7vw;
    background-color: transparent;
    border: 0.1vw solid white;
}
.register{
    transition: all 400ms ease;
    width: 4.9vw;
    height: 1.7vw;
    background-color: #00BCD4;
    border: 0.1vw solid  #00BCD4;
    color: white;
}
.login:hover{
    background-color: white;
    color: #00BCD4;
    border: 0.1vw solid white;
}
.register:hover{
    background-color: #00A4B9;
    border: 0.1vw solid #00A4B9;
}
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    color: white;
}
.logo{
    text-decoration: none;
}
.logo-zenit{
    letter-spacing: 0.02em;
    font-size: 1.6vw;
    color: white;
    margin: -0.5vw;
}
.logo-cloud {
    font-size: 0.8vw;
}

.nav_items{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    display: flex;
    list-style: none;
    margin-left:35%;
    font-size: 0.7vw;
}
.nav_items li a{
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;
    margin: 0 0.58vw;
}
.nav_items li a:hover{
    color:#00A4B9 ;
}
.nav-buttons{
    letter-spacing: 0.02em;
    display: flex;
    justify-content: flex-end;
}
.background-wrapper{
    background-image: url(assets/banner-bg.jpg);
    padding-top:3vw ;
    width: 100%;
    height: 40vw;
    background-size:cover;
}


/*popup*/
.popup{
    position: fixed;
    top: 12vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 28vw;
    height: 20vw;
    background-color: #F7F7F7;
    border-radius: 15%;
    box-shadow: 0.5vw 0.5vw 8vw rgb(0, 163, 185);
    display: none;
}
.popup-img{
    display: flex;
    justify-content: center;
    margin-top: -33%;
    margin-right: 5%;
}
.popup-img img{
    position: relative;
    width: 18vw;
    height: 18vw;
    animation: float 1s infinite alternate-reverse;
}
.close{
    position: absolute;
    background-image: url(assets/close.png);
    background-size:1vw;
    background-repeat: no-repeat;
    top: 1.7vw;
    left: 24vw;
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    z-index: 4;
}
.popup-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vw;
    width: 28vw;
}
.popup-text h3{
    color: #333;
    font-weight: 300;
    font-size: 2.2vw;
    line-height: 0.1vw;
}
.popup-text h4{
    color: #64d7e6;
    font-size: 2.5vw;
    margin-top: 13%;
}
.popup-text h4 span{
    color: black;
    font-size: 2vw;
    font-weight:400;
}
.popup-text span{
    font-size: 1.3vw;
    line-height:2vw;
}
.timer{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}
.timer span{
    font-size: 2.5vw;
    color: black;   
    text-align: center;
}

/*index.html*/
.domen-search{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: repeat(3,1fr);
    text-align: center;
    margin: 10% auto;
    padding: 0 20vw;
    
}

.domen-search label{
    font-size: 1.0vw;
    display: flex;
}
.check{
    height: 1.1vw;
    width: 1.4vw;
    margin-right:0.5vw;
}

.domen-search h1{
    letter-spacing: 0.02em;
    font-size: 2.3vw;
    grid-column: span 5;
}
.input-domen{
    grid-column: span 4;
    padding-left: 2%;
        margin-top: 1vw;
        background-color: transparent;
        border: 0.1vw  solid white;
        color: white;
        width: 65%;
        margin-left: 20%;
        font-size: 0.9vw;
        text-decoration: none;
}
.domen-check-sk{
    grid-column: 2/3;
    grid-row: 3;
    margin-left: 39%;
}
.domen-check-eu {
    grid-column: 3/4;
        grid-row: 3;
        margin-left: 10%;

}.domen-check-com {
    grid-column: 4/5;
        grid-row: 3;
        margin-left:-19%;
}

.domen-check{
    color: white;
    margin-top: 1vw;
}
.domen-button{
    margin-top: 1vw;
    width: 8vw;
    height: 2.5vw;
    grid-column: 5/6;
    margin-left: -40%;
    font-size: 0.8vw;
}
.domen-bold{
    font-weight: bold;
    font-size: 1vw;
}
.offer{
    margin: 5% auto;
    display: grid;
    width: 100%;
    height: 12vw;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(3,1fr);
    padding: 0 20vw;
}
.hosting-services{
    margin-bottom: 1%;
    font-size: 1vw;
    color: #00BCD4;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: span 3;
}
.offer-title{
    color: black;
    margin-bottom:1%;
    font-size: 2.5vw;
    grid-row: 2/3;
    grid-column: span 3;
    letter-spacing: 0.002em;
}
.offer-text{
    margin-bottom: 7%;
    font-size: 1vw;
    color: #6A6A6A;
    line-height: 1.3vw;
    grid-row: 3/4;
    grid-column: span 3;
}

.card{
    grid-row: 4/5;
    display: grid;
    height: 24vw;
    width: 19vw;
    background-color: #F7F7F7;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    padding: 4% 8%;
    box-shadow: 1vw 1vw 1vw -1vw rgba(0,0,0,0.2);
    border-radius: 5%;
}
.card-icon{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    border: 2vw solid #00BCD4;
    border-radius: 50%;
    background-color: #00BCD4;
    color: white;
    font-size: 2.5vw;
}

.card-title{
    color: #1E1E1E;
    font-size: 1.2vw;
}

.card-span{
    color: #6A6A6A;
    letter-spacing: 0.02em;
    font-size: 0.9vw;
    margin: 0 3%;
    margin-top: -4vw;
}
.pricing{
    text-align: center;
    height: 15vw;
    width: 100%;
    padding: 0 20vw;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 2% auto;
    width: 100%;
}

.pricing-background{
    background-image:url(assets/pricing-bg.jpg);
    background-size: cover;    
    height: 40vw;
    width: 100%;
    margin-top: 30vw;
    padding-top: 5%;
}
.pricing-title{
    color: white;
    margin-bottom: 1%;
    font-size:2vw ;
}
.pricing-text{
    color: white;
    font-size: 1vw;
}
.price-card{
    margin-top: 5%;
    background-color: white;
    width: 19vw;
    height: 45vw;
    padding-top: 15%;
    box-shadow: 0vw 0vw 5vw -.8vw rgba(0, 0, 0, 0.2);
    border-radius: 1%;
}
.cloud-title{
    font-size: 1.4vw;
    color: black;
    margin-bottom: 5%;
}
.price-background{
    background-color: #00A4B9;
    height: 6vw;
    width: 13vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding: 9%;
    color: white;
}
.price-background h2{
    color: white;
    font-size: 1.5vw;
}
.price-background span {
    color: white;
    font-size: 1vw;
}
.fa-check{
    color: purple;
    margin-right: 2%;
}
.gradient{
    background: rgb(89, 2, 130);
    background: linear-gradient(160deg, rgba(114,2,176,1) 20%, rgba(50,100,245,1) 76%);
    color: white;
}
.gradient-button{
        background: rgb(89, 2, 130);
        background: linear-gradient(160deg, rgba(114,2,176,1) 20%, rgba(50,100,245,1) 76%);
        border: 2vw rgba(114,2,176,1);
        border: none;
        color: white;
}
.gradient-button:hover{
        transition: 0.5s ease-in;
        background: linear-gradient(160deg, rgba(50,100,245,1) 20%,rgba(114,2,176,1)  76%); 
        border: 2vw rgba(114,2,176,1);       
        background-repeat: no-repeat;
}
.price-description{
    color: #6A6A6A;
    margin-bottom: 5%;
    font-size: 1vw;

}
.price-icons{
    margin-top: 15%;
    border-top: 0.2vw solid rgba(128, 128, 128, 0.123);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    text-align: left;
    line-height: 3vw;
    font-size: 0.8vw;
    color: #6A6A6A;
}

.price-button{
    margin-top: 25%;
    height: 3vw;
    width: 10vw;
    font-size: 1.1vw;
}
.gradient:hover{
    border: none;
}
.blue-button{
    border: none;
    color: white;
    background-color: #00BCD4;
    border: 0.1vw solid #00BCD4;
}
.reviews{
    padding: 1vw 20vw;
    background-color: #F7F7F7;
    margin-top:35vw ;
    height: 36vw;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,1fr);
    text-align: center;
}
.review-text{
    color: #00A4B9;
    font-size: 1vw;
    font-weight: bold;
}
.review-title{
    color: #1E1E1E;
    margin-top: 1%;
    font-size: 2vw;
    margin-bottom: 4%;
}
.review-icon{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 4%;
            padding-top: 1.5%;
            height: 3vw;
            width: 3vw;
            border-radius: 50%;
            background: rgb(89, 2, 130);
            background: linear-gradient(90deg, rgba(89, 2, 130, 1) 0%, rgba(49, 11, 92, 1) 62%, rgba(37, 64, 207, 1) 100%);
            color: white;
            font-size: 1.2vw;
}
.review-lorem{
    width: 100%;
    line-height: 2vw;
    margin: 0 auto;
    color: #6a6a6ac2;
    font-size: 1.3vw;
}
.review-autor{
    color: black;
    margin-top: 2%;
    font-size: 1.6vw;
}
.autor-job{
    color: #00A4B9;
    font-size: 1.2vw;
    margin-top: 1%;
}
.dots-icon{
    color: #00A4B9;
    font-size: 2.5vw;
    margin-top: 2%;
}

footer{
    padding: 5vw 20vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    background-image: url(assets/footer-bg.jpg);
    background-size: cover;
    color: white;
    height: 30vw;
}
.konfiguration{
    line-height: 2.5vw;
}
.konfiguration h4{
    font-size: 1.2vw;
    margin-bottom: 4%;
}
.konfiguration span{
    color:#b8b7b7;
    font-size: 1vw;
}
.about-us{
    width: 28vw;
    line-height: 2vw;
    font-size: 1vw;
    margin-left: -10%;

}
.about-us h4{
    font-size: 1.2vw;
    margin-bottom: 4%;
}
.contacts h4{
    font-size: 1.2vw;
    margin-bottom: 4%;
}
.contacts h5{
    display: inline;
    font-size: 1.1vw;

}
.contacts{

    line-height: 2.5vw;
    font-size: 1vw;
}
.footer-border{
    border-top: 0.1vw solid #f7f7f74f;
    margin-top: 3%;
    width: 100%;
    grid-column: span 3;
}
.copyright{
    grid-column:2/3 ;
    font-size: 1vw;
    margin: 15% auto;

}



/*login.html*/
.login-nav{
    background-image: url(assets/heading-bg.jpg);
}
.background-img{
    background-image: url(assets/heading-bg.jpg);
    width: 100%;
    height: 30vw;
    background-size:cover;

}
.login-heading{
    margin: -15% auto;
    text-align: center;
    height: 10vw;
    font-size: 1vw;
}
.login-title{
    margin-bottom: 1%;
    font-size: 2.5vw;
}
.login-heading span{
 color: white;
 font-size: 1vw;
}
.login-heading a{
    text-decoration: none;
    color: white;
}
.login-link{
    opacity: 50%;
    z-index: -1;
}
.login-form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 24%;
    margin: 25% auto;
}
.login-email{
    grid-column: span 3;
    grid-row: 1/2;
    height: 2.3vw;
    padding: 3%;
    border:0.1vw solid #bcbcbc;
    font-size: 0.8vw;
    margin-bottom: 5%;
}
.login-password{
    grid-column: span 3;
    grid-row: 2/3;
    height: 2.3vw;
    padding: 3%;
    border:0.1vw solid #bcbcbc;
    font-size: 0.8vw;
    margin-bottom: 5%;
}
.login-button{
    width: 5.8vw;
    height: 2.3vw;
    font-size: 0.8vw;
    cursor: pointer;
}
.login-reviews{
    margin-top: -17%;
}



/* register.html*/
.register-from{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
.register-password{
    grid-row: 3/4;
}
.register-button{
    width: 7.5vw;
    cursor: pointer;
}



/* about.html*/
.about{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 30% auto;
}

.about img{
    width: 23vw;
    height: 20vw;
    margin-left: -4.5vw;
    margin-right: 5vw;
}
.about-title{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5vw;
}

.about-company{
    margin-bottom: 15%;
    border-bottom: 0.2vw solid #6a6a6a40;
    width:33vw ;
}
.about-company span{
    width: 1%;
}
.history-title{
    display: inline-block;
    margin-right: 8%;
    color:#00BCD4 ;
    font-size: 1.2vw;
}
.history-subtitle{
    font-weight: bold;
    font-size: 1.2vw;
}
.about-history{
    width: 100%;
    margin-top: -7%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.history-years span{
    margin-top: 2vw;
    display: inline-block;
    font-size: 1vw;
    color: #6A6A6A;
    width: 33.4vw;
}
.about-reviews{
    margin-top: -25%;
}



/* services.html */
.services{
    margin-top: 30%;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(3,1fr);
    height: 40vw;
    margin-bottom: 20vw;
}
.service-card{
    margin-bottom: 10%;
    height: 20vw;
}
.vps-cloud-service{
    grid-column: 1/2;
    grid-row: 4/5;
}
.fast-cloud{
    grid-column: 2/3;
    grid-row: 4/5;
}
.loyal-cloud{
    grid-column: 3/4;
    grid-row: 4/5;
}
.manage-cloud{
    grid-column: 1/2;
    grid-row: 5/6;
}
.optimal-cloud{
    grid-column: 2/3;
    grid-row: 5/6;
}
.customer-cloud{
    grid-column: 3/4;
    grid-row: 5/6;
}

.check-icon{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    border: 2vw solid #00BCD4;
    border-radius: 50%;
    background-color: #00BCD4;
    color: white;
    font-size: 2.5vw;    
}



/*contacts.html*/
.contact-us-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin: 25% auto;
    margin-bottom: -20%;
}

.contact-us-form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 50%;
    margin-left: 40%;
    margin-top: 1%;
}
.contact-us-form input{
    border:0.1vw solid #bcbcbc;
    font-size: 0.8vw;
    margin-bottom: -22%;
}
.contact-name{
    padding: 3%;
    height: 2.3vw;
    grid-column: span 3;
}
.contact-email{
    padding: 3%;
    height: 2.3vw;
    grid-column: span 3;
}
.contact-thing{
    padding: 3%;
    height: 2.3vw;
    grid-column: span 3;
}
.contact-message{
    grid-column: span 3;
    height: 9vw;
    padding: 3%;
    padding-bottom: 28%;
}
.contact-button{
    border: 0.1vw solid #00A4B9;
    width: 9vw;
    margin-top: 70%;
}

.contact{
    width: 31.5vw;
    height: 11.5vw;
    border-bottom: 0.2vw solid #6a6a6a40;
}
.contact-title{
    margin: 2% 0;
}
.contact-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 18%;
}
.contact-icon{
    width: 3.6vw;
    height: 3.6vw;
    border: 1.05vw solid #00BCD4;
    border-radius: 50%;
    background-color: #00BCD4;
    color: white;
    font-size: 1.5vw;
    margin-bottom: 5%;
}
.icon-text{
    font-size: 1vw;
    margin-top: 13%;
    margin-left: -30%;
}
.support{

    grid-column: 1/2;
    grid-row: 2/3;
}
.fa-phone{
    grid-column: 1/2;
    grid-row: 1/2;
}
.fa-envelope{
    grid-column: 3/4;
    grid-row: 1/2;
}
.fa-globe{
    grid-column: 3/4;
    grid-row: 2/3;
}
